<div
  class="tab-pane fade show active"
  id="list-favorited"
  role="tabpanel"
  aria-labelledby="list-favorited-list"
>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title text-center">Most Favorited School</h5>
      <% favoritedSchools.forEach(favoritedSchool => { %>
      <div class="card shadow mb-2">
        <a href="/schools/<%= favoritedSchool.slug %>" class="card-link">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img src="/<%= favoritedSchool.image %>" class="card-img-top" alt="No Image">            
              </div>
              <div class="col-md-8">
                <h5><%= favoritedSchool.name %></h5>
                <% if (!favoritedSchool.averageRating) { %>
                <p>
                  No Rating Yet
                </p>
                <% } else { %>
                <p>
                  <span>
                    <i class="fas fa-star <% if (favoritedSchool.averageRating >= 1.0) { %> checked <% } %>"></i>
                    <i class="fas fa-star <% if (favoritedSchool.averageRating >= 1.5) { %> checked <% } %>"></i>
                    <i class="fas fa-star <% if (favoritedSchool.averageRating >= 2.5) { %> checked <% } %>"></i>
                    <i class="fas fa-star <% if (favoritedSchool.averageRating >= 3.5) { %> checked <% } %>"></i>
                    <i class="fas fa-star <% if (favoritedSchool.averageRating >= 4.5) { %> checked <% } %>"></i>
                  </span>
                  (<%= favoritedSchool.averageRating.toFixed(2) %>)
                </p>
                <% } %>
                <span class="badge badge-secondary mb-2">
                  <i class="fas fa-thumbs-up"></i> Favorite: <%= favoritedSchool.likes.length %>
                </span>
                <span class="badge badge-secondary mb-2">
                  <i class="fas fa-comment-dots"></i> Review: <%= favoritedSchool.reviews.length %>
                </span>
                <br>
                <span>created on <%= moment(favoritedSchool.createdAt).format('YYYY-MM-DD') %></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
</div>