<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Study Abroad!</title>
  <!-- Bootstrap 4 -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Study</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= typeof title !== 'undefined' && title === 'Schools' ? 'active' : '' %>">
          <a class="nav-link" href="/schools">Schools</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if(!currentUser) { %>
        <!-- delete later -->
        <li class="nav-item">
          <form action="/login" method="POST">
            <input type="hidden" name="email" value="test@test.com">
            <input type="hidden" name="password" value="password">
            <button type="submit" class="btn btn-primary btn-block">
              Test Login
            </button> 
          </form>
        </li>
        <!--  -->
        <li class="nav-item <%= typeof title !== 'undefined' && title === 'Login' ? 'active' : '' %>">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item <%= typeof title !== 'undefined' && title === 'Signup' ? 'active' : '' %>">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <% } else { %>
        <li class="nav-item <%= typeof title !== 'undefined' && title === 'My Page' ? 'active' : '' %>">
          <a class="nav-link" href="/users/<%= currentUser.id %>">My Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <% if (success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>