<%- include("../partials/header") %>

<div style="width: 50%; margin: 0 auto;">
  <h3 style="text-align: center;">Edit school</h3>

  <form action="/schools/<%= school._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="name">School Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= school.name %>" placeholder="Harvard University">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" name="country" value="<%= school.country %>" placeholder="United States of America">
    </div>
    <div class="form-group">
      <label for="tuition">Tuition</label>
      <input type="number" class="form-control" id="tuition" name="tuition" value="<%= school.tuition %>" placeholder="50,000">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="5" name="description" placeholder="Anything"><%= school.description %></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
    </div>
  </form>

  <a href="/schools">Go back</a>
</div>

<%- include("../partials/footer") %>