<%- include("../partials/header") %>

<div class="row">
  <!-- Left Row -->
  <div class="col-md-8 col-sm-12">

    <!-- Main Information -->
    <div class="card">
      <h3 style="text-align: center;">School</h3>
      <div class="card-body">
        <img class="card-img-top" src="/<%= school.image %>" alt="No Image">
        <p class="h4"><%= school.name %></p>
        <p class="h4"><%= school.country %></p>
        <p class="h4">City</p>
        <p class="h4">Map</p>
        <p class="h4">$<%= school.tuition %></p>
        <p class="h4"><%= school.description %></p>
        
        <!-- Favorite Button -->
        <form action="/schools/<%= school._id %>/favorite" method="POST">
          <% if (currentUser && isFavoriteUser) { %>
          <button class="btn btn-sm btn-secondary">
            Liked (<%= school.likes.length %>)
          </button>
          <% } else if (currentUser && !isFavoriteUser) { %>
          <button class="btn btn-sm btn-primary">
            Like (<%= school.likes.length %>)
          </button>
          <% } %>
        </form>

        <button
          type="button"
          class="btn btn-sm btn-primary"
          data-toggle="modal"
          data-target="#campgroundLikes">
          <span>
            Total likes: <%= school.likes.length %>
          </span>
        </button>
        <!-- Favorite Button End -->

        <p class="h4">Rating</p>
        <% if (currentUser && currentUser._id.equals(school.user)) { %>
        <a
          class="btn btn-warning"
          href="/schools/<%= school._id %>/edit"
          role="button"
        >
          EDIT
        </a>

        <!-- Delete School Modal Trigger -->
        <a
        href="#"
        class="card-link"
        data-toggle="modal"
        data-target="#deleteSchool"
        >
          <button class="btn btn-danger">
            DELETE
          </button>
        </a>
        <!-- Delete School Modal Trigger End -->
  
        <!-- Delete School Modal -->
        <div
          class="modal fade"
          id="deleteSchool"
          tabindex="-1"
          role="dialog"
          aria-labelledby="deleteSchool"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Warning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you really want to delete this school?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <form action="/schools/<%= school._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete School Modal End -->

        <% } %>
      </div>
    </div>
    <!-- Main Information End -->
    
    <!-- New Review -->
    <div class="card">
      <div class="card-body">

        <!-- New Review Toggle -->
        <div class="clearfix mb-2">
          <a
            class="btn btn-success float-right"
            role="button"
            data-toggle="collapse"
            href="#collapseNewReview"
            aria-expanded="false"
            aria-controls="collapseNewReview"
          >
            Add new review
          </a>
          <h4>
            <strong>
              Reviews (total: <%= school.reviews.length %>)
            </strong>
          </h4>
        </div>
        <!-- New Review Toggle End -->

        <!-- New Review Form -->
        <div class="collapse" id="collapseNewReview">
          <div class="card" style="border-left: 5px solid #00C851;">
            <div class="card-body">
              <% if(!currentUser) { %>
              <h5 class="card-title">
                You need to login before you review. 
                <a href="/login">Click here</a>
                to go to the login page.
              </h5>
              <% } %>
              <% if(isUserHasReview) { %>
              <h5 class="card-title">
                You have already written review to this school.
              </h5>
              <% } %>
              <% if(currentUser && !isUserHasReview) { %>
              <h4 class="card-title">Write your review</h4>
              <form
                action="/schools/<%= school._id %>/reviews"
                method="POST"
              >
                <div class="form-group">
                  <label for="title">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    placeholder="I really enjoy studying with classmate!"
                    value="<%= typeof review != 'undefined' ? review.title : '' %>"
                  >
                </div>

                <div class="form-group">
                  <label for="degree">Degree</label>
                  <select name="degree" id="degree" class="custom-select">
                    <option value="Certificate (1 year)" selected>Certificate (1 year)</option>
                    <option value="Diploma (2 years)">Diploma (2 years)</option>
                    <option value="Advanced Diploma (3 years)">Advanced Diploma (3 years)</option>
                    <option value="Bachelor (4 years)">Bachelor (4 years)</option>
                    <option value="Master">Master</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Other">Other</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="rating">Rating</label>
                  <fieldset class="starability-basic form-group" id="rating">
                    <div>
                      <input
                        type="radio"
                        id="first-rate5"
                        name="rating"
                        value="5"
                        checked
                      />
                      <label for="first-rate5" title="Amazing">
                        ☆☆☆☆☆
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="first-rate4"
                        name="rating"
                        value="4"
                      />
                      <label for="first-rate4" title="Very good">
                        ☆☆☆☆
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="first-rate3"
                        name="rating"
                        value="3"
                      />
                      <label for="first-rate3" title="Average">
                        ☆☆☆
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="first-rate2"
                        name="rating"
                        value="2"
                      />
                      <label for="first-rate2" title="Not good">
                        ☆☆
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="first-rate1"
                        name="rating"
                        value="1"
                      />
                      <label for="first-rate1" title="Terrible">
                        ☆
                      </label>
                    </div>
                  </fieldset>
                </div>
        
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    rows="3"
                    placeholder="I highly recommend you check this college"
                  ><%= typeof review != 'undefined' ? review.description : '' %></textarea>
                </div>

                <div class="form-group">
                  <button class="btn btn-success btn-sm">
                    SUBMIT
                  </button>
                </div>
              </form>
              <% } %>
            </div>
          </div>
        </div>
        <!-- New Review Form End -->

        <hr>

        <!-- Exists Reviews -->
        <div class="row">
          <div class="col-md-12">
            <% reviews.forEach(review => { %>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6 col-md-4">
                    <img src="/<%= review.user.image %>" class="card-img-top" alt="No Image">
                    <p><%= review.user.name %></p>
                    <% if (currentUser && currentUser._id.equals(review.user._id)) { %>

                    <!-- Edit Review Toggle -->
                    <a
                      class="btn btn-warning"
                      role="button"
                      data-toggle="collapse"
                      href="#collapseEditReview<%= review.user._id %>"
                      aria-expanded="false"
                      aria-controls="collapseEditReview"
                    >
                      Edit
                    </a>
                    <!-- Edit Review Toggle End -->

                    <!-- Delete Review Modal Trigger -->
                    <a
                    href="#"
                    class="card-link"
                    data-toggle="modal"
                    data-target="#deleteReview"
                    >
                      <button class="btn btn-danger">
                        DELETE
                      </button>
                    </a>
                    <!-- Delete School Modal Trigger End -->
              
                    <!-- Delete School Modal -->
                    <div
                      class="modal fade"
                      id="deleteReview"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="deleteReview"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Warning!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Do you really want to delete this review?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                              Close
                            </button>
                            <form action="/schools/<%= school._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                              <button class="btn btn-danger">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Delete Review Modal End -->

                    <% } %>
                  </div>
                  <div class="col-12 col-md-8">
                    <h3><%= review.title %></h3>
                    <span>
                      <% if (review.rating === 1) { %>
                        ☆
                      <% } else if (review.rating === 2) { %>
                        ☆☆
                      <% } else if (review.rating === 3) { %>
                        ☆☆☆
                      <% } else if (review.rating === 4) { %>
                        ☆☆☆☆
                      <% } else if (review.rating === 5) { %>
                        ☆☆☆☆☆
                      <% } %>
                    </span>
                    <p><%= review.description %></p>
                  </div>
                </div>

                <!-- Edit Review Form -->
                <div class="collapse" id="collapseEditReview<%= review.user._id %>">
                  <div class="card" style="border-left: 5px solid #ffbb33;">
                    <div class="card-body">
                      <h4 class="card-title">Edit your review</h4>
                      <form
                        action="/schools/<%= school._id %>/reviews/<%= review._id %>?_method=PUT"
                        method="POST"
                      >
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            placeholder="I really enjoy studying with classmate!"
                            value="<%= typeof review != 'undefined' ? review.title : '' %>"
                          >
                        </div>

                        <div class="form-group">
                          <label for="degree">Degree</label>
                          <select name="degree" id="degree" class="custom-select">
                            <option value="Certificate (1 year)" selected>Certificate (1 year)</option>
                            <option value="Diploma (2 years)">Diploma (2 years)</option>
                            <option value="Advanced Diploma (3 years)">Advanced Diploma (3 years)</option>
                            <option value="Bachelor (4 years)">Bachelor (4 years)</option>
                            <option value="Master">Master</option>
                            <option value="Doctor">Doctor</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="rating">Rating</label>
                          <fieldset class="starability-basic form-group" id="rating">
                            <div>
                              <input
                                type="radio"
                                id="first-rate5"
                                name="rating"
                                value="5"
                                <% if (review.rating === 5) { %>
                                  checked
                                <% } %>
                              />
                              <label for="first-rate5" title="Amazing">
                                ☆☆☆☆☆
                              </label>
                            </div>
                            <div>
                              <input
                                type="radio"
                                id="first-rate4"
                                name="rating"
                                value="4"
                                <% if (review.rating === 4) { %>
                                  checked
                                <% } %>
                              />
                              <label for="first-rate4" title="Very good">
                                ☆☆☆☆
                              </label>
                            </div>
                            <div>
                              <input
                                type="radio"
                                id="first-rate3"
                                name="rating"
                                value="3"
                                <% if (review.rating === 3) { %>
                                  checked
                                <% } %>
                              />
                              <label for="first-rate3" title="Average">
                                ☆☆☆
                              </label>
                            </div>
                            <div>
                              <input
                                type="radio"
                                id="first-rate2"
                                name="rating"
                                value="2"
                                <% if (review.rating === 2) { %>
                                  checked
                                <% } %>
                              />
                              <label for="first-rate2" title="Not good">
                                ☆☆
                              </label>
                            </div>
                            <div>
                              <input
                                type="radio"
                                id="first-rate1"
                                name="rating"
                                value="1"
                                <% if (review.rating === 1) { %>
                                  checked
                                <% } %>
                              />
                              <label for="first-rate1" title="Terrible">
                                ☆
                              </label>
                            </div>
                          </fieldset>
                        </div>

                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea
                            type="text"
                            class="form-control"
                            id="description"
                            name="description"
                            rows="3"
                            placeholder="I highly recommend you check this college"
                          ><%= typeof review != 'undefined' ? review.description : '' %></textarea>
                        </div>

                        <div class="form-group">
                          <button class="btn btn-success btn-sm">
                            SUBMIT
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Edit Review Form End -->

              </div>
            </div>
            <% }) %>
            <a href="#">Check All Reviews</a>
          </div>
        </div>
        <!-- Exists Reviews End -->

      </div>
    </div>
    <!-- New Review End-->

    <a href="/schools">Go back to Schools Page</a>
  </div>
  <!-- Left Row End -->

  <!-- Right Row -->
  <div class="col-md-4 col-sm-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Popular Schools</h5>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">New Schools</h5>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Schools in the same country</h5>
      </div>
    </div>
  </div>
  <!-- Right Row End-->
</div>

<%- include("../partials/footer") %>