<%- include("../partials/header") %>

<div class="row">
  <!-- Left Column -->
  <div class="col-md-9 col-sm-12">

    <!-- Main Information -->
    <div class="card mb-2">
      <div class="card-body">
        <h3 style="text-align: center;"><%= school.name %></h3>
        <hr>
        <img class="card-img-top" src="/<%= school.image %>" alt="No Image">
        <hr>
        <p class="h4"><%= school.country %></p>
        
        <!-- Favorite Button -->
        <form action="/schools/<%= school.slug %>/favorite" method="POST">
          <% if (isFavoriteUser) { %>
          <p>This school is your favorite</p>
          <button class="btn btn-sm btn-secondary">
            <i class="fas fa-thumbs-up"></i> Unfavorite
          </button>
          <% } else if (!isFavoriteUser) { %>
          <p>This school is not your favorite</p>
          <button class="btn btn-sm btn-primary">
            <i class="fas fa-thumbs-up"></i> Favorite
          </button>
          <% } %>
        </form>
        <!-- Favorite Button End -->

        <!-- Favorite Modal -->
        <%- include("../partials/modal/favoriteUsers") %>
        <!-- Favorite Modal End-->

        <p class="h4">Rating</p>
        <% if (!school.averageRating) { %>
        <p>
          No Rating Yet
        </p>
        <% } else { %>
        <p>
          <span>
            <i class="fas fa-star <% if (school.averageRating >= 1.0) { %> checked <% } %>"></i>
            <i class="fas fa-star <% if (school.averageRating >= 1.5) { %> checked <% } %>"></i>
            <i class="fas fa-star <% if (school.averageRating >= 2.5) { %> checked <% } %>"></i>
            <i class="fas fa-star <% if (school.averageRating >= 3.5) { %> checked <% } %>"></i>
            <i class="fas fa-star <% if (school.averageRating >= 4.5) { %> checked <% } %>"></i>
          </span>
          (<%= school.averageRating.toFixed(2) %>)
        </p>
        <% } %>

        <% if (currentUser && currentUser._id.equals(school.user) || (currentUser && currentUser.isAdmin)) { %>
        <a
          class="btn btn-warning"
          href="/schools/<%= school.slug %>/edit"
          role="button"
        >
          <i class="fas fa-edit"></i> EDIT
        </a>

        <!-- Delete School Modal-->
        <%- include("../partials/modal/deleteSchool") %>
        <!-- Delete School Modal Trigger End -->

        <% } %>
      </div>
    </div>
    <!-- Main Information End -->
    
    <!-- Reviews -->
    <div class="card">
      <div class="card-body">

        <!-- New Review -->
        <%- include("./schoolPartials/newReview") %>
        <!-- New Review End -->

        <hr>

        <!-- Exists Reviews -->
        <%- include("./schoolPartials/existsReview") %>
        <!-- Exists Reviews End -->

      </div>
    </div>
    <!-- Reviews End-->

    <a href="/schools">Go back to Schools Page</a>
  </div>
  <!-- Left Column End -->

  <!-- Right Column -->
  <div class="col-md-3 col-sm-12">
    <div class="card text-center mb-2">
      <div class="card-body">
        <h5 class="card-title">Popular Schools</h5>
        <hr>
        <div class="row">
          <% popularSchools.forEach(popularSchool => { %>
          <div class="col-md-12">
            <a href="/schools/<%= popularSchool.slug %>" class="card-link">
              <div class="card mb-2">
                <img src="/<%= popularSchool.image %>" class="card-img-top" alt="No Image">
                <div class="card-body">
                  <p class="card-title">
                    <%= popularSchool.name %>
                  </p>
                  <% if (!popularSchool.averageRating) { %>
                  <p>
                    No Rating Yet
                  </p>
                  <% } else { %>
                  <p>
                    <span>
                      <i class="fas fa-star <% if (popularSchool.averageRating>= 1.0) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (popularSchool.averageRating>= 1.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (popularSchool.averageRating>= 2.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (popularSchool.averageRating>= 3.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (popularSchool.averageRating>= 4.5) { %> checked <% } %>"></i>
                    </span>
                  </p>
                  <% } %>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-thumbs-up"></i> Like: <%= popularSchool.likes.length %>
                  </span>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-comment-dots"></i> Review: <%= popularSchool.reviews.length %>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="card text-center mb-2">
      <div class="card-body">
        <h5 class="card-title">New Arrivai Schools</h5>
        <hr>
        <div class="row">
          <% newArrivalSchools.forEach(newArrivalSchool => { %>
          <div class="col-md-12">
            <a href="#" class="card-link">
              <div class="card mb-2">
                <img src="/<%= newArrivalSchool.image %>" class="card-img-top" alt="No Image">
                <div class="card-body">
                  <p class="card-title">
                    <%= newArrivalSchool.name %>
                  </p>
                  <% if (!newArrivalSchool.averageRating) { %>
                  <p>
                    No Rating Yet
                  </p>
                  <% } else { %>
                  <p>
                    <span>
                      <i class="fas fa-star <% if (newArrivalSchool.averageRating>= 1.0) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (newArrivalSchool.averageRating>= 1.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (newArrivalSchool.averageRating>= 2.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (newArrivalSchool.averageRating>= 3.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (newArrivalSchool.averageRating>= 4.5) { %> checked <% } %>"></i>
                    </span>
                  </p>
                  <% } %>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-thumbs-up"></i> Like: <%= newArrivalSchool.likes.length %>
                  </span>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-comment-dots"></i> Review: <%= newArrivalSchool.reviews.length %>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Schools in the same country</h5>
      </div>
    </div>
  </div>
  <!-- Right Column End -->
</div>

<%- include("../partials/footer") %>