<%- include("../partials/header") %>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <img class="card-img-top" src="/<%= user.image %>" alt="No Image">
        <p class="card-text">User Name: <%= user.name %></p>
        <p class="card-text"><%= user.studentType %></p>
        <p class="card-text">Introduction: <%= user.introduction %></p>
        <p class="card-text">English Level: <%= user.english %></p>
      </div>
    </div>

    <% if (mypage) { %>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Edit Your Account</h5>
        <p class="card-text">
          <a href="/users/<%= currentUser.id %>/edit?content=profile" class="card-link">Profile</a>
        </p>
        <p class="card-text">
          <a href="/users/<%= currentUser.id %>/edit?content=email" class="card-link">Email</a>
        </p>
        <p class="card-text">
          <a href="/users/<%= currentUser.id %>/edit?content=password" class="card-link">Password</a>
        </p>
        <%- include("../partials/modal") %>
      </div>
    </div>
    <% } %>  
  </div>
  
  <div class="col-md-8 col-sm-12">
    <h3 class="card-title mx-auto" style="width: 200px;">Favorite School</h3>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>

    <h3 class="card-title mx-auto" style="width: 200px;">New School</h3>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>

    <h3 class="card-title mx-auto" style="width: 300px;">School near the place</h3>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include("../partials/footer") %>