<%- include("../partials/header") %>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="card text-center">
      <img src="/picture" class="card-img-top" alt="No Picture">
      <div class="card-body">
        <h5 class="card-title"><%= user.name %></h5>
        <p class="card-text">Introduction</p>
      </div>
    </div>
    <% if (mypage) { %>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Edit Your Account</h5>
        <p class="card-text">
          <a href="/users/<%= currentUser.id %>/edit?content=profile" class="card-link">Profile</a>
        </p>
        <p class="card-text">
          <a href="/users/<%= currentUser.id %>/edit?content=email" class="card-link">Email</a>
        </p>
        <p class="card-text">
          <a href="/users/<%= currentUser.id %>/edit?content=password" class="card-link">Password</a>
        </p>
        <%- include("../partials/modal") %>
      </div>
    </div>
    <% } %>
  </div>
  <div class="col-md-8 col-sm-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Favorite School</h5>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Review</h5>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Follow User</h5>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>