<%- include("../partials/header") %>

<div class="row">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">

      <!-- Favorited School List -->
      <a
        class="list-group-item list-group-item-action active"
        id="list-favorited-list"
        data-toggle="list"
        href="#list-favorited"
        role="tab"
        aria-controls="favorited"
      >
      <i class="fas fa-thumbs-up"></i> Favorited
      </a>
      <!-- Favorited School List End -->

      <!-- Rated School List -->
      <a
        class="list-group-item list-group-item-action"
        id="list-rated-list"
        data-toggle="list"
        href="#list-rated"
        role="tab"
        aria-controls="rated"
      >
      <i class="fas fa-star checked"></i> Rated
      </a>
      <!-- Rated School List End -->

      <!-- reviewed School List -->
      <a
        class="list-group-item list-group-item-action"
        id="list-reviewed-list"
        data-toggle="list"
        href="#list-reviewed"
        role="tab"
        aria-controls="reviewed"
      >
      <i class="fas fa-comment-dots"></i> Reviewed
      </a>
      <!-- reviewed School List End -->

      <!-- Latest School List -->
      <a
        class="list-group-item list-group-item-action"
        id="list-latest-list"
        data-toggle="list"
        href="#list-latest"
        role="tab"
        aria-controls="latest"
      >
        Latest
      </a>
      <!-- Latest School List End -->

    </div>
  </div>
  <div class="col-md-9">
    <div class="tab-content" id="nav-tabContent">

      <!-- Favorited School -->
      <div
        class="tab-pane fade show active"
        id="list-favorited"
        role="tabpanel"
        aria-labelledby="list-favorited-list"
      >
      <% favoritedSchools.forEach(favoritedSchool => { %>
        <a href="/schools/<%= favoritedSchool.slug %>" class="card-link">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-md-4">
                  <img src="/<%= favoritedSchool.image %>" class="card-img-top" alt="No Image">            
                </div>
                <div class="col-12 col-md-8">
                  <h5><%= favoritedSchool.name %></h5>
                  <% if (!favoritedSchool.averageRating) { %>
                  <p>
                    No Rating Yet
                  </p>
                  <% } else { %>
                  <p>
                    <span>
                      <i class="fas fa-star <% if (favoritedSchool.averageRating >= 1.0) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (favoritedSchool.averageRating >= 1.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (favoritedSchool.averageRating >= 2.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (favoritedSchool.averageRating >= 3.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (favoritedSchool.averageRating >= 4.5) { %> checked <% } %>"></i>
                    </span>
                    (<%= favoritedSchool.averageRating.toFixed(2) %>)
                  </p>
                  <% } %>
                  <span><%= moment(favoritedSchool.createdAt).format('YYYY-MM-DD') %></span>
                  <br>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-thumbs-up"></i> Favorite: <%= favoritedSchool.likes.length %>
                  </span>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-comment-dots"></i> Review: <%= favoritedSchool.reviews.length %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% }) %>
      </div>
      <!-- Favorited School End -->

      <!-- Rated School -->
      <div
        class="tab-pane fade"
        id="list-rated"
        role="tabpanel"
        aria-labelledby="list-rated-list"
      >
      <% ratedSchools.forEach(ratedSchool => { %>
        <a href="/schools/<%= ratedSchool.slug %>" class="card-link">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-md-4">
                  <img src="/<%= ratedSchool.image %>" class="card-img-top" alt="No Image">            
                </div>
                <div class="col-12 col-md-8">
                  <h5><%= ratedSchool.name %></h5>
                  <% if (!ratedSchool.averageRating) { %>
                  <p>
                    No Rating Yet
                  </p>
                  <% } else { %>
                  <p>
                    <span>
                      <i class="fas fa-star <% if (ratedSchool.averageRating >= 1.0) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (ratedSchool.averageRating >= 1.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (ratedSchool.averageRating >= 2.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (ratedSchool.averageRating >= 3.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (ratedSchool.averageRating >= 4.5) { %> checked <% } %>"></i>
                    </span>
                    (<%= ratedSchool.averageRating.toFixed(2) %>)
                  </p>
                  <% } %>
                  <span><%= moment(ratedSchool.createdAt).format('YYYY-MM-DD') %></span>
                  <br>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-thumbs-up"></i> Favorite: <%= ratedSchool.likes.length %>
                  </span>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-comment-dots"></i> Review: <%= ratedSchool.reviews.length %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% }) %>
      </div>
      <!-- Rated School End -->

      <!-- Reviewed School -->
      <div
        class="tab-pane fade"
        id="list-reviewed"
        role="tabpanel"
        aria-labelledby="list-reviewed-list"
      >
      <% reviewedSchools.forEach(reviewedSchool => { %>
        <a href="/schools/<%= reviewedSchool.slug %>" class="card-link">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-md-4">
                  <img src="/<%= reviewedSchool.image %>" class="card-img-top" alt="No Image">            
                </div>
                <div class="col-12 col-md-8">
                  <h5><%= reviewedSchool.name %></h5>
                  <% if (!reviewedSchool.averageRating) { %>
                  <p>
                    No Rating Yet
                  </p>
                  <% } else { %>
                  <p>
                    <span>
                      <i class="fas fa-star <% if (reviewedSchool.averageRating >= 1.0) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (reviewedSchool.averageRating >= 1.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (reviewedSchool.averageRating >= 2.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (reviewedSchool.averageRating >= 3.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (reviewedSchool.averageRating >= 4.5) { %> checked <% } %>"></i>
                    </span>
                    (<%= reviewedSchool.averageRating.toFixed(2) %>)
                  </p>
                  <% } %>
                  <span><%= moment(reviewedSchool.createdAt).format('YYYY-MM-DD') %></span>
                  <br>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-thumbs-up"></i> Favorite: <%= reviewedSchool.likes.length %>
                  </span>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-comment-dots"></i> Review: <%= reviewedSchool.reviews.length %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% }) %>
      </div>
      <!-- Reviewed School -->

      <!-- Latest School -->
      <div
        class="tab-pane fade"
        id="list-latest"
        role="tabpanel"
        aria-labelledby="list-latest-list"
      >
      <% latestSchools.forEach(latestSchool => { %>
        <a href="/schools/<%= latestSchool.slug %>" class="card-link">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-md-4">
                  <img src="/<%= latestSchool.image %>" class="card-img-top" alt="No Image">            
                </div>
                <div class="col-12 col-md-8">
                  <h5><%= latestSchool.name %></h5>
                  <% if (!latestSchool.averageRating) { %>
                  <p>
                    No Rating Yet
                  </p>
                  <% } else { %>
                  <p>
                    <span>
                      <i class="fas fa-star <% if (latestSchool.averageRating >= 1.0) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (latestSchool.averageRating >= 1.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (latestSchool.averageRating >= 2.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (latestSchool.averageRating >= 3.5) { %> checked <% } %>"></i>
                      <i class="fas fa-star <% if (latestSchool.averageRating >= 4.5) { %> checked <% } %>"></i>
                    </span>
                    (<%= latestSchool.averageRating.toFixed(2) %>)
                  </p>
                  <% } %>
                  <span><%= moment(latestSchool.createdAt).format('YYYY-MM-DD') %></span>
                  <br>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-thumbs-up"></i> Like: <%= latestSchool.likes.length %>
                  </span>
                  <span class="badge badge-secondary mb-2">
                    <i class="fas fa-comment-dots"></i> Review: <%= latestSchool.reviews.length %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% }) %>
      </div>
      <!-- Latest School End -->

    </div>
  </div>
</div>

<%- include("../partials/footer") %>