<div
  class="tab-pane fadee"
  id="list-followers"
  role="tabpanel"
  aria-labelledby="list-followers-list"
>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title text-center">Followers</h5>
      <% user.followed.forEach(follower => { %>
        <div class="card shadow mb-2">
          <a href="/users/<%= follower.slug %>" class="card-link">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img src="/<%= follower.image %>" class="card-img-top" alt="No Image">            
                </div>
                <div class="col-8">
                  <h5><%= follower.name %></h5>
                  <p class="font-italic"><%= follower.studentType %></p>
                  <p><%= follower.introduction %></p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
    </div>
  </div>
</div>