<div
  class="tab-pane fadee"
  id="list-following"
  role="tabpanel"
  aria-labelledby="list-following-list"
>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title text-center">Following</h5>
      <% targetUsers.forEach(targetUser => { %>
        <div class="card shadow mb-2">
          <a href="/users/<%= targetUser.slug %>" class="card-link">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img src="/<%= targetUser.image %>" class="card-img-top" alt="No Image">            
                </div>
                <div class="col-8">
                  <h5><%= targetUser.name %></h5>
                  <p class="font-italic"><%= targetUser.studentType %></p>
                  <p><%= targetUser.introduction %></p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
    </div>
  </div>
</div>