<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title text-center">Profile</h5>
    <hr>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-12">
        <img class="card-img-top img-thumbnail" src="/<%= user.image %>" alt="No Image">
      </div>
      <div class="col-12 col-sm-8 col-md-12">
        <h5 class="card-text"><%= user.name %></h5>
        <p class="card-text font-italic"><%= user.studentType %></p>
        <p class="card-text my-2" ><%= user.introduction %></p>
      </div>
    </div>
    <hr>
    <p class="text-center my-2">
      <%= targetUsers.length %> Following | <%= user.followed.length %> Followers
    </p>

    <!-- Edit Account -->
    <% if (mypage || (currentUser && currentUser.isAdmin)) { %>
    <div style="text-align: center;">
      <button
        class="btn btn-sm btn-warning"
        role="button"
        data-toggle="collapse"
        href="#collapseUserEdit"
        aria-expanded="false"
        aria-controls="collapseUserEdit"
      >
        <i class="fas fa-edit"></i> Edit
      </button>
    </div>

    <div class="collapse" id="collapseUserEdit">
      <div class="text-center">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/users/<%= user.slug %>/edit?content=profile" class="card-link">
              <i class="fas fa-user"></i> Profile
            </a>
          </li>
          <li class="list-group-item">
            <a href="/users/<%= user.slug %>/edit?content=email" class="card-link">
              <i class="fas fa-envelope"></i> Email
            </a>
          </li>
          <li class="list-group-item">
            <a href="/users/<%= user.slug %>/edit?content=password" class="card-link">
              <i class="fas fa-unlock-alt"></i> Password
            </a>
          </li>
        </ul>

        <!-- Delete User Modal -->
        <% if (!currentUser.isAdmin) { %>
        <%- include("../../partials/modal/deleteUser") %>
        <% } %>
        <!-- Delete User Modal End-->

      </div>
    </div>
    <% } %>
    <!-- Edit Account End -->

    <!-- Follow -->
    <% if (!mypage) { %> 
    <form action="/users/<%= user.slug %>/follow" method="POST">
      <div class="text-center">
        <% if (isFollowing) { %>
        <button class="btn btn-sm btn-secondary">
          Unfollow
        </button>
        <% } else { %>
        <button class="btn btn-sm btn-primary">
          Follow
        </button>
        <% } %>
      </div>
    </form>
    <% } %>
    <!-- Follow End -->

  </div>
</div>